*,
*:after,
*:before {
	box-sizing: border-box;
}

$color2: #d6f1d5;
$color3: #caf5c7;
$color1: #f6f6f600;

html,
body {
	margin: 0;
	padding: 0;

body {
	background-color: #cfffd3;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='218' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23fafafa' fill-opacity='0.93' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

}
body {
	font-family: var(--font-family);
	font-size: 18px;
}
code {
	font-family: var(--font-family-mono);
}
main {
	p { line-height: 1.5; }
}
a {
	color: var(--home-link-color);
	text-decoration: none;
	&:hover {
		color: var(--home-link-hover-color);
	}
}
